body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin: auto;
}
input {
    height: 20px;
    flex:  200px;
  
  }
  label {
    display: block;
     float: left;
      width: 100px;
    
  }
  mark {
    background-color: yellow;
    color: black;
    font-weight: bold;
  }

