body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}


.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin: auto;
}
/* added label to the names of the boxes in order to
   center them. now i make each label as a block*/
  label {
    display: block;
     float: left;
      width: 100px;
    
  }
  mark {
    background-color: yellow;
    color: black;
    font-weight: bold;
  }

